<!--ユーザー詳細をここに入れる-->
<h2>User info</h2>
<p>※写真</p>
<!--pタグはあとで消す-->
<table class="table">※内容</table>
<div class="row">※設定へ</div>
<h2 class="mt-3">New Book</h2>
<%= form_with model:book,local:true do |f| %>
  <div class="form-group">
    <label for="book-title">Title</label>
    <%=f.text_field :title %>
  </div>
  <div class="form-group">
    <label for="book-opinion">Opinion</label>
    <%=f.text_area :opinion %>
  </div>
  <div class="form-group">
    <%=f.submit 'Create Book',class:"btn btn-success" %>

  </div>
<% end %>


